.container_rental {
  background-color: #e3e2e2;
  padding: 95px 0;
}

.wrapper_form {
  max-width: 980px;
  margin: auto;
}

.container_form {
  padding: 70px 15px;

  background-color: #e5e6ea;
}


.rentel__text {
  max-width: 595px;
  margin: 0 auto 100px;
  font-size: 31px;
  color: #000;
  line-height: 1.2;
  font-weight: 500;
}
input[class^="form-control"]::-webkit-input-placeholder,
textarea[class^="form-control"]::placeholder {
  color: #122134;

}
input[class^="form-control"]:-ms-input-placeholder,
textarea[class^="form-control"]::placeholder {
  color: #122134;
}

input[class^="form-control"]:-ms-input-placeholder,
textarea[class^="form-control"]::placeholder {
  color: #122134;
}

input[class^="form-control"]::placeholder,
textarea[class^="form-control"]::placeholder{
  color: #122134;
}

#rentalform {
  /*  h2 {
      @extend %title-main;
    }*/

  .input-group_addon .input-group-addon {
    background-color: #fff !important;
    @extend %form-control-zero;
    padding: 8px;
  }

  small {
    font-size: 10px;
    line-height: 1;
    display: block;
    padding-top: 5px;
  }

  textarea.form-control {
    height: 190px;

  }

  .agreement {
    font-size: 12px;
  }
}

#conditions {
  small {
    padding-top: 1px;
  }

}

.search {

  height: 30px;
  border-radius: 30px;
  background-color: #fff;
  font-size: 14px;
  margin: 15px 0 0;
  border: 4px solid #fff;//

  @media screen and (max-width: 420px) {
    margin: 0;
  }
  /*
    &__form {
      display: table;
      table-layout: fixed;
      width: 100%;

    }*/
  &__group {
    //display: table-cell;
    flex-grow: 1;
    text-align: right;
  }
  &__control {
    width: calc(100% - 15px);
    border: none;
  }

  &__addon {
    display: table-cell;
    width: 30px;
    text-align: right;
  }
  &__btn {
    border: none;
    background-color: transparent;
    color: #515356;
    width: 30px;
    height: 30px;
  }
}

.btn {
  &-contacts {
    background-color: #004593;
    width: 100%;
    font: 400 20px Roboto, sans-serif;
    color: #fff;
    //text-transform: uppercase;
    // line-height: 50px;
    height: 60px;
    @extend %form-control-zero;
    border: 0 !important;
    max-width: 315px;
    margin: 28px auto 0;
    &:hover,
    &:focus {
      @extend %form-control-zero;
      border: 0 !important;
      background-color: #004593 !important;
    }
  }

  &-search-mobile {
    height: 35px;

  }

}

.form {

  &-group {
    margin-bottom: 20px;
  }

  &-control {

    line-height: 50px;
    height: 50px;
    background-color: transparent;
    @extend %form-control-zero;
    padding: 0 15px;
    //text-transform: uppercase;
    &:hover,
    &:focus {
      @extend %form-control-zero;
    }

    &_search {
      border: 0;
      //background-color: #5bd5a0;
      line-height: 35px;
      height: 35px;
      text-transform: none;
    }

  }
}

.btn-link {
  //max-width: 250px;
  background-color: #8cc327;
  font: bold 20px Helvetica, Arial, sans-serif !important;
  color: #fff;
  text-transform: uppercase;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 25px;
  &:hover,
  &:focus {
    background-color: #8cc327;
    color: #fff;
    text-decoration: none;

  }

}


h3.depo {
  font: 900 2.4rem/1 "Montserrat", sans-serif;
  //text-transform: uppercase;
  margin: 0 auto 50px;
  color: #112236;
  text-align: center;
}

.depo-icheck {
  margin-bottom: 15px;
  color: #122134;
  font-size: 13px;
}