

.phone {
  fill: $color-lightblue2;
}

.container_header-mobile .symbol_tel span {
  font-weight: normal;
  font-size: 16px;
}

.symbol {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;

  &:hover {
    color: #fff;

    text-decoration: none;
  }

  @media screen  and (max-width: 667px){
    justify-content: center;
    align-items: center; font-size: 16px;
  }


  & svg {
    margin-right: 11px;
    color: $color-lightblue2;
  }
  & svg.svg-tel {
    margin-right: 10px;
    transform: rotate(20deg);
  }
  & svg.svg-location {
    margin-right: 16px;

  }
  & svg.svg-time {
    margin-right: 10px;

  }

/*  &_tel {
    & svg {
      margin-right: 5px;
    }
    span {
      font-size: 1rem;
      font-weight: 700;
    }
  }*/

  & span {
    display: block;
    font-size: 1rem;
    line-height: 1;
    color: $color-lightblue2;
  }

  .map {
    &-header {
      fill: #fff;
    }
    &-footer {
      fill: $color-lightblue2;
    }
  }


&_mobile {

  & a {
    color: #fff;
    font-size: 1rem;
    line-height: 1;
    text-transform: uppercase;
  }
  & svg {
    margin-right: 11px;
    color: #fff;
  }
  .time {
    fill: #fff;
  }
  span {
    color: #fff;
  }

}

}