.partners {
  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%; // for IE
    justify-content: flex-start;

    @media screen  and (max-width: 420px){
      justify-content: center;
    }


  }
  &__item {
    display: flex;
    flex-basis: 25%;
    //flex-basis: 280px;
    position: relative;
    justify-content: center;
    //background-color: #5bd5a0;
    margin-bottom: 50px;


    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(5){
      //background-color: #d6a042;//
    }




    @media screen and (min-width: 992px) and (max-width: 1024px){
    }
    @media screen and (min-width: 768px) and (max-width: 992px){
      flex-basis: calc(100%/3);
    }
    @media screen and (min-width: 667px) and (max-width: 768px){

      flex-basis: 50%;
    }
    @media screen and (min-width: 420px) and (max-width: 667px){
      flex-basis: 50%;
    }
    @media screen  and (max-width: 420px){
      flex-basis: 100%;
    }



  }

  &__inner {
    margin:0 10px;
  }

  &__img {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    //background-color: #5bd5a0;
    & img {
      max-width: 180px;
      max-height: 150px;
    }
  }


  &__link {
   max-width: 280px;
    display: block;
    //margin: 20px 10px 1px;
    text-align: center;
    //@include transition(all 0.3s ease);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    //background-color: rgba(150, 52, 255, 0.24);

    &:hover {
      text-decoration: none;
    }

  }

  &__name {

    height: 65px;
    padding:  15px 10px;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    color: $color-gray;
    display: flex;
    align-items: center;
    justify-content: center;

  }




}