.rentals {
padding-bottom: 60px;
  &__title {
    @extend %title-main;
    color: #fff;
    margin: 0 auto 40px;
    padding-top: 60px;
    &_service {
      color: #6c757d;
    }
  }
  &__list {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    text-align: center;
    width: 220px;
  }
  & .figure-caption {
    text-align: center;
    color: #fff;
    font-weight: 700;
    padding-top: 25px;

    &_service {
      color: #6c757d;
      padding-top: 0;
     padding-bottom: 25px;
    }
  }
}