

.container_slider {

  background-color: #fff;
  padding: 70px 80px 90px;
  margin-bottom: 100px;
  @media screen and (max-width: 1024px) {
    max-width: 100%!important;
    padding: 50px 15px 70px;//
  }
}
.slider-gallery {

  &__item {
    //display: block;
    //position: relative;
  }

  &__inner {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;

    }
  }

  &__img {
    flex-basis: 60%;

    @media screen and (max-width: 768px) {
      flex-basis: 100%;

    }
  }

  &__info {
    flex-basis: 40%;
    padding-left: 80px;
    /*position: absolute;
    top: 0;
    bottom: 0;
    left: 47%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;*/
    //background-color: rgba(91, 213, 160, 0.31);


    @media screen and (max-width: 768px) {
      padding: 30px 0 0 0;
      flex-basis: 100%;

    }
  }

  &__title,
  &__text {
    color: #102133;
    transition: .4s all ease;
  }
  &__title {
    font: 900 22px/1.3 "Montserrat", sans-serif;
    margin-bottom: 26px;



    @media screen and (max-width: 1080px) {
      font-size: 28px;
      color: brown;

    }

    @media screen and (min-width: 992px) and (max-width: 1079px){
      //color: blue;
    }

    @media screen and (min-width: 768px) and (max-width: 992px){

      //color: red;
    }

    @media screen and (min-width: 667px) and (max-width: 768px){

      //color: #5bd5a0;

    }

    @media screen and (min-width: 500px) and (max-width: 667px){
     //color: #f68dbb;
    }

    @media screen and (min-width: 412px) and (max-width: 500px){
      //color: #00a2ff;
    }


    @media screen and (min-width: 300px) and (max-width: 412px){
     //color: #5f24c0;

    }

    @media screen  and (max-width: 300px){
      //font-size: 16px;

      //color: #d6a042;
    }






  }
  &__text {
    font-size: 16px;
    line-height: 1.4;

    @media screen  and (max-width: 420px){
    }

  }

  & .arrow-prev,
  & .arrow-next {
    position: absolute;
    z-index: 100;
    margin: -15px 0 0 0;
    top: 56%;
  }
  & .arrow-prev {
    left: 1%;
  }
  & .arrow-next {
    left: 56%;
  }

  & .arrow-next.slick-arrow,
  & .arrow-prev.slick-arrow {
    background-color: transparent;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    text-align: center;
    border: 1px solid #fff;
    padding-top: 2px;

    & span {
      padding: 0;
      cursor: pointer;

    }
  }

  .slick-dots {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    //height: 100%;
    right: 0;
    left: 0;
    bottom: -40px;

    @media screen and (max-width: 768px) {
      width: 100%;

    }

    li {
      display: block;

      &.slick-active button:before {
        font-size: 30px;
        color: transparent;
        //border: 5px solid $color-red;
        box-shadow: inset 0 0 0 5px $color-red;
        border-radius: 50%;
        opacity: 1;
      }
      & button {
        &:hover,
        &:focus {
          &:before {
            opacity: 1;
            color: transparent;
            //border: 5px solid blue;
            border-radius: 50%;
            box-shadow: inset 0 0 0 5px $color-red;
          }
        }

        &:before {
          color: #959595;
          opacity: 1;
        }

      }

    }
  }

  &.slick-dotted.slick-slider {
    margin-bottom: 0 !important;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
      //margin-bottom: 35px !important;
    }
    @media screen and (max-width: 768px) {
      //margin-bottom: 30px !important;

    }

  }
  .slick-dots li {

    width: 20px;
    height: 20px;
    margin: 0 0 8px 0;
  }
}





