.social {
  &__link {
    display: inline-block;
    width: 34px;
    height: 34px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    line-height: 34px;
    margin: 0;
    color: $color-darkblue;
    text-decoration: none !important;
    border: none;
    transition: 0.4s ease;


    &:not(:last-child) {
      margin-right: 7px;
    }
    &:hover {
      background-color: $color-lightblue2;
      color: $color-darkblue;
    }
  }

}

.footer {
  .social {
    margin-bottom: 35px;
  }
}



