//$font-path   : "/fonts" !default;

$font-family: 'Roboto', sans-serif;
$font-family-title: 'Montserrat', sans-serif;

//$color-darkblue: #2a3246;
$color-darkblue: #112236;
$color-grayblue: #35485f;
$color-blue: #667ca1;
$color-lightblue: #004593;
$color-lightblue2: #98b2d3;
$color-red: #fe3a31;
$color-yellow: #ffbd23;
$color-gray: #364860; //bg
$color-bg-lightgray: #e4e6ea; //bg



$color-title: $color-darkblue; //bg
$color-text: $color-darkblue;
$color-icon: $color-darkblue;


%img-bg-empty {
  background-position: center center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}


%card-zero {
  padding: 0;
  border:0;
  border-radius: 0;
  background: transparent;
}


%title-h2 {
  font: 900 2.4rem/1 $font-family-title;

  color: #fff;
}

// @extend %name;
/*

%title-main {
  font: 500 30px/1 $font-family;
  text-transform: uppercase;
  color: $color-purple;
  margin: 40px auto;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 30px !important;
  }

  @media (max-width: 420px) {
    font-size: 30px !important;
  }
  @media (max-width: 360px) {
    font-size: 30px !important;
  }
}

%form-control-zero {
  border:0;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  &:hover,
  &:focus{
    @extend %form-control-zero;
  }

}

%line-height {
  line-height: 50px;
  height: 50px;
}

*/





// @extend %title-slider;

/*

%title-h3 {
  font: 500 24px/1.2 $font-family;
  text-transform: uppercase;
  color: $color-gray;
}
%title-h4 {
  font: 500 24px/1.3 $font-family;
  color: $color-gray;
}

%text {
  font: 400 16px/1.2 $font-family;
  color: $color-gray;
}
%title-slider {
  font: 700 60px/1.2 $font-family;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 17px;
}
%test-slider {
  font: 400 45px/1.2 $font-family;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
}
*/

%slider-arrow {
  position: absolute;
  z-index: 100;
  margin: -15px 0 0 0;
}

