@mixin transform($args...) {
  transform: ($args);
  -webkit-transform: translate($args);
  -moz-transform: translate($args);
  -o-transform: translate($args);
  -ms-transform: translate($args);
}
//  @include transform(100%, 0);
