.title-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 117px;
  background: url("/img/bg-title-page.png") left center repeat-x;
  font: 900 2.4rem/1 "Montserrat", sans-serif;
  color: #fff;
}