<div class="container_first">


    <div class="container container_card">
        <div class="row_card">

            <div class="card-deck card-deck_first">


                <!--    карточка    -->
                <div class="card">
                    <div class="card-header" style="background: url('/img/card/1.jpg')">
                        <img class="card-img-top img-fluid" src="/img/card/empty.png" alt="" title="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            ТЦ 1000 Мелочей
                        </h5>
                        <p class="card-text morewords">
                            Напротив четвертого и пятого входа у нас Вы найдете: мобильные телефоны и аксессуары для
                            них,
                            электротовары, косметика и парфюмерия, все для кальянов, часы, бижутерия, канцтовары,
                            кошельки,
                            хозтовары и много другое.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">
                            Далее
                            <span class="icon icon-right-dir-1"></span>
                        </a>
                    </div>
                </div>
                <!--    карточка    -->


                <!--    карточка    -->
                <div class="card">

                    <div class="card-header" style="background: url('/img/card/2.jpg')">
                        <img class="card-img-top img-fluid" src="/img/card/empty.png" alt="" title="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            Главное строение
                        </h5>
                        <p class="card-text morewords">
                            Парковка в ТЯК "Москва" спроектирована и построена с учетом современных требований. Наши
                            посетители могут разместить на стандартном парковочном месте легковой автомобиль любых
                            размеров.
                            Вы можете не переживать за сохранность вашего автомобиля, так как на территории парковки
                            ТЯК
                            "Москва" ведется видео наблюдение.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">
                            Далее
                            <span class="icon icon-right-dir-1"></span>
                        </a>
                    </div>
                </div>
                <!--    карточка    -->


                <!--    карточка    -->
                <div class="card">

                    <div class="card-header" style="background: url('/img/card/3.jpg')">
                        <img class="card-img-top img-fluid" src="/img/card/empty.png" alt="" title="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            Моссезон
                        </h5>
                        <p class="card-text morewords">
                            Напротив четвертого и пятого входа у нас Вы найдете: мобильные телефоны и аксессуары для
                            них,
                            электротовары, косметика и парфюмерия
                            Напротив четвертого и пятого входа у нас Вы найдете: мобильные телефоны и аксессуары для
                            них,
                            электротовары, косметика и парфюмерия
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">
                            Далее
                            <span class="icon icon-right-dir-1"></span>
                        </a>
                    </div>
                </div>
                <!--    карточка    -->


                <!--    карточка    -->
                <div class="card">

                    <div class="card-header" style="background: url('/img/card/4.jpg')">
                        <img class="card-img-top img-fluid" src="/img/card/empty.png" alt="Строительный рынок"
                             title="Строительный рынок">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            Строительный рынок
                        </h5>
                        <p class="card-text morewords">
                            На территории вы найдете все необходимое для ремонта и строительства. Неважно, требуются
                            ли Вам
                            большие объемы для крупномасштабной стройки или необходима мелкая партия из нескольких
                            наименований, мы будем рады помочь. У нас вы найдете всё - от обоев и плитки до
                            строительных
                            инструментов и саморезов, так же у нас можно легко и быстро оформить доставку
                            стройматериалов по
                            Москве.
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="card-link">
                            Далее
                            <span class="icon icon-right-dir-1"></span>
                        </a>
                    </div>
                </div>
                <!--    карточка    -->

            </div>

        </div>
    </div>
    <div class="container pt-3">
        <div class="row">
            <div class="col text-center">
                <!--<img src="/img/logo-title.png" alt="" class="mb-2">-->
                <h2 class="subtitle">
                    Наши бренды
                </h2>
            </div>

        </div>
    </div>

</div>

